*{
    font-family: 'Nunito',sans-serif;
}

body {
    background-color: #F9F5ED;
}

.nav-bar {
    display: flex;
    margin-left: 10%;
    gap: 7%;
}

.nav-bar img{
    height: 30px;
    margin-top: 7px;
}

.nav-bar p{
    font-weight: 500;
    margin-top: 15px;
}

.main {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-top: 7%;
}

.images img{
    height: 250px;
}

.content h1{
    font-size: 300%;
    font-weight: 700;
}

.content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
}

.button button {
    background-color: #3B855B;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}